.favoritedUsers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.errorMessage {
  margin-left: -130px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  color: #ff0000;
  font-size: 1.5rem;
  font-weight: bold;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
